@{
    ViewData["Title"] = "Home Page";
}

<div class="image-container">
    <img class="img" src="images/home-image.png" alt="Home Image" title="Home Page"/>
</div>

<style>
.img{
    max-width:1500px;
}
</style>